/* FONTS
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Code Pro', monospace;*/


body {
    background-color: #3c4042;
}

p {
    font-weight: 400;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    color: white;
}

.page {
    width: 65%;
    margin: 30px auto;
    padding: 15px 5px;
}

.header {
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
}

h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    Font-weight: 700;
    color: #ea80fc;
}

h2 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    Font-weight: 800;
    color: #ea80fc;
}

h3 {
    color: #ea80fc;
}

.container {
    box-sizing: border-box;
    width: 99%;
    margin: 5px auto;
    border: 1px solid #feb2ff;
    border-radius: 50px;
    text-align: center;
    padding: 20px 0;
    color: black;
    margin: 30px auto;
}

.color-panel {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    width: 34%;
    display: inline-block;
    text-align: center;
    margin: 5px;
    border-radius: 30px;
}

.color-panel:hover {
    cursor: pointer;
}

.color-panel p {
    color: black;
}

.cool-blue {
    background-color: #2d5dcc;
}

#white-text {
    color: white;
}

.pink {
    color: black;
    background-color: #d957d9;
}

.mint-green {
    color: black;
    background-color: #4fe0b0;
}

.beige {
    color: black;
    background-color: #efd9ca;
}

.font-panel {
    width: 45%;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-top: 10px;
}

.text-panel {
    width: 45%;
    display: block;
    text-align: center;
    line-height: 20px;
    margin: 10px auto;
    color: white;
    margin: 40px auto;
}

.text-panel li {
    text-align: left;
}

.main-heading {
    font-family: Helvetica, sans-serif;
}

.second-heading {
    font-family: Helvetica, sans-serif;
}

.paragraph-text {
    font-family: Helvetica, sans-serif;
}

.font-panel h3 {
    font-size: 18px;
    text-decoration: underline;
}

.source-code-pro {
    font-family: "Source Code Pro", monospace;
}

.nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
