/* RESET a ZÁKLADNÍ */

@font-face {
    font-family: 'Heebo', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    font-size: 16px;
}

a {
    cursor: pointer;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

p {
    font-size: 1rem;
    font-family: 'Heebo', sans-serif;
    font-weight: normal;
    letter-spacing: 0.1rem;
}

/* HEADER + NAV */
header {
    background-image: url("resources/images/header.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 40px;
}

.header_content {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
}

nav {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 60px auto;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    nav .menu {
        display: none;
    }
}

.logo,
.menu {
    display: inline-flex;
    margin: 10px;
    align-items: center;
    color: white;
}

.logo {
    font-family: 'Heebo', sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
    border-bottom: 3px solid white;
    padding: 5px;
}

.menu li {
    list-style: none;
    display: inline-block;
}

.menu li+li {
    margin-left: 15px;
}

.menu a {
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 800;
}

.menu a:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid white;
    transition: border-bottom .2s ease-in;
}

.header_content h1 {
    color: white;
    font-size: 2.5rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 800px;
    margin-bottom: 15px;
}

.header_content p {
    color: white;
    font-size: 1rem;
    font-family: 'Heebo', sans-serif;
    font-weight: normal;
    opacity: 0.8;
}

/* OUR SERVICES */
.main_flexbox {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.main_flexbox h2 {
    color: #383838;
}

.flexbox_for_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    display: inline-flex;
    flex-direction: column;
    background-color: #383838;
    margin: 0.625rem;
    width: 15.625rem;
    height: 20rem;
    align-items: center;
    color: white;
    justify-content: center;
    transition: transform .4s;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    width: 50%;
    height: auto;
    margin-bottom: 2rem;
}

/* OUR ENGINEERS */
.engineers {
    display: flex;
    flex-flow: column wrap;
    background-color: #383338;
    width: 100%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    padding-top: 2rem;
}

.black_bg {
    max-width: 1100px;
}

.person {
    display: inline-flex;
    flex-direction: column;
    width: 15.625rem;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 1rem;
    padding: 2rem 0 2rem 0;
}

.person img {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

/* COLLABORATION */
.collaboration {
    display: flex;
    max-width: 1100px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 4rem 4rem 4rem 4rem;
}

.collab_grid {
    padding-top: 6rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    gap: 2rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media only screen and (max-width: 1024px) {
    .collab_grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 764px) {
    .collab_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .collab_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/*ARE YOU INTERESTED SECTION*/
.contact_bg {
    display: flex;
    background-image: url("resources/images/header.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact_us {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0 3rem 0;
    color: white;
}

.button {
    border: 3px solid white;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    width: 15.625rem;
    padding: 0.7rem 0;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #383838;
    transition: background-color 0.1s ease-in, color 0.1s ease-in;
}

/* FOOTER */
footer {
    background-color: white;
    color: #383838;
    padding: 1rem 0;
}

footer p {
    font-size: 0.7rem;
    text-align: center;
}
