body {
    background-color: #355C7D;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: #F67280;
}

h2 {
    color: white;
    text-transform: lowercase;
}

.page {
    width: 100%;
}

table {
    border: 4px solid #F67280;
    margin: 0 auto;
    width: 50%;
}

thead {
    background-color: #F8B195;
    text-align: center;
}

td {
    color: white;
    border-top: 1px solid #F67280;
    padding: 5px;
}

.tag {
    color: black;
    background-color: beige;
    font-family: monospace;
}
